{% extends "app/layout.html" %}

{% block content %}

<h2>{{ Integrantes }}.</h2>
<h3>{{ Luciano }}</h3>
<h3>{{ Luan }}</h3>
<h3>{{ Gustavo }}</h3>
<h3>{{ Rodrigo }}</h3>
<h3>{{ Bruno }}</h3>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
